@model IEnumerable<HomeExpense.ViewModel.CategoryExpense>
@{
    ViewBag.Title = "Details";
}

<h2>Expense By Category</h2>
<div class="row">
    <div class="col-md-4">
        <input id="txtSearch" class="form-control" type="text" placeholder="Search..."/>
    </div>
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-12" id="divData">
            <label> @Model.First().Categories.FirstOrDefault(m => m.Id == item.CategoryId).Name:</label>
            <label class="text-primary">Rs. @item.Expenses.Sum(m => m.Price)</label>
            <hr style="height:2px;color:#000;background-color:#000;"/>
        </div>
      
    }
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var $divDatas = $("body #divData");

            $("#txtSearch").keyup(function () {
                var txt = $(this).val();
                $divDatas.each(function () {
                   
                    if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            })
           
        })
      
    </script>
    }

